//- We will extend the base(.pug) view
extends base

block styles
    link(rel='stylesheet', href='/public/visualization/style.css') 

//- We will inject the following HTML where the "block content" is defined in the view that we are extending
block content
    //- We will use the title passed to the view through the server's response as h1 header
    h1 #{title}

    section 
        div(id='filters')
            button(class='btn active' id='all' onclick='clearFilter()') All 
            button(class='btn' id='myInput' onclick='category()') Category

        div(class='cointainer')
            input(type="text", id="filtered" onkeyup="searchbyFilters()" placeholder="Filter by category..")
        
        input(type="text" id="myInput" onkeyup="searchbyName()" placeholder="Search for medication..")
        br 
        br

        //-table
        div(id='cointainer')
            div(id='scrollbox')
                table(id='table')
                    tr
                    th Category 
                    th Name 
                    th Dose
                    th Description
                    th Cost
             
            //#root

    script(type="text/javascript", src="https://code.jquery.com/jquery-3.5.1.js")
    script(type="text/javascript", src="/public/libs/d3.js") 
    script(type="text/javascript", src="/public/visualization/script.js")